# ignore environment files
.env
code/.env
*/.env

# ignore macOS folder attribute files
.DS_Store
*/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# other files to ignore
/.quarto/
_book/
/_book/
_book/*