/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-family-sans-serif: "Inter", sans-serif;

/*-- scss:rules --*/

@keyframes drawLine {
    to {
      stroke-dashoffset: 0;
    }
}
  
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.reveal .slide-background-content {
  // background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.geometric-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.geo-line {
  stroke-width: 1;
  fill: none;
}

.reveal .slides section {
  color: #333333;
}

.reveal h1, .reveal h2, .reveal h3 {
  color: #333333;
}

.reveal p, .reveal li {
  color: #333333;
}

.reveal a {
  color: #1e88e5;
}

.reveal a:hover {
  color: #64b5f6;
}

// Specific styles for the title slide
#title-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 100vh;
  text-align: center;

  .title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
  }
  
  .subtitle-container {
    margin-bottom: 1.5em;
  }

  .subtitle-button {
    background-color: #0071e3;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    text-decoration: none;
    font-size: 0.8em;
  }
  
  .author {
    font-size: 0.8em;
    color: #666;
    margin-top: 2em;
  }

  .image-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    img {
      max-width: 20%;
      max-height: 30vh;
      object-fit: contain;
    }
  }

  .geometric-background {
    opacity: 0.8;
  }
}

// Footer


// Animation 

:root {
  --geometric-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000' preserveAspectRatio='xMidYMid slice'%3E%3Cpath class='geo-line' stroke='%231e88e5' d='M0,700 L1000,700'/%3E%3Cpath class='geo-line' stroke='%2364b5f6' d='M200,1000 L200,0'/%3E%3Cpath class='geo-line' stroke='%23bbdefb' d='M0,300 L1000,300'/%3E%3Cpath class='geo-line' stroke='%232196f3' d='M700,1000 L700,0'/%3E%3Cpath class='geo-line' stroke='%2390caf9' d='M0,0 L1000,1000'/%3E%3Cpath class='geo-line' stroke='%2342a5f5' d='M1000,0 L0,1000'/%3E%3C/svg%3E");
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--geometric-background);
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
}

.animated-background .geo-line {
  stroke-width: 1;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 15s linear forwards infinite, float 20s ease-in-out infinite;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

